core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
venv/
.env
*.sqlite3
.htmlhintrc
*/migrations/*
!*/migrations/__init__.py
settings.json
.gitignore
.vscode/*
fixtures/
requirements.txt
Procfile
.vscode/settings.json
