{% load event_tags %}
<h2 class="card-title text-xl mb-4">📅 Event Schedule</h2>
<ul class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact">
  {% for date in event.start_date|daterange:event.end_date %}
  <li>
    <div class="timeline-middle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 {% if forloop.first %}text-primary{% elif forloop.last and event.end_date %}text-secondary{% else %}text-accent{% endif %}">
        {% if forloop.first %}
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd" />
        {% elif forloop.last and event.end_date %}
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
        {% else %}
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd" />
        {% endif %}
      </svg>
    </div>
    <div class="{% if forloop.even %}timeline-end{% else %}timeline-start md:text-end{% endif %} mb-10">
      <time class="font-mono italic">{{ date|date:"l, F j, Y" }}</time>
      <div class="text-lg font-black">
        {% if forloop.first %}
        Event Start
        {% elif forloop.last and event.end_date %}
        Event End
        {% else %}
        Day {{ forloop.counter }}
        {% endif %}
      </div>
    </div>
    {% if not forloop.last %}
    <hr class="{% if forloop.first %}bg-primary{% elif forloop.last and event.end_date %}bg-secondary{% else %}bg-accent{% endif %}"/>
    {% endif %}
  </li>
  {% endfor %}
</ul>
