{% extends "base.html" %}
{% load static %}

{% block title %}{{ crew.name }} - Crews{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'crews/partials/crew_banner_header.html' %}

<div class="container mx-auto px-4 py-8">
    {% include 'crews/partials/crew_description.html' %}
    
    {% include 'crews/partials/crew_statistics.html' %}
    
    <!-- Navigation Tabs -->
    <div class="tabs tabs-bordered mb-4 lg:mb-6">
        <a class="tab tab-active" data-tab="members">Members</a>
        <a class="tab" data-tab="events">Events ({{ total_events }})</a>
    </div>
    
    {% include 'crews/partials/crew_members_section.html' %}
    
    {% include 'crews/partials/crew_events_section.html' %}
    
    {% include 'crews/partials/crew_social_links.html' %}
</div>

{% if user_membership %}
    {% include 'crews/partials/leave_crew_modal.html' %}
{% endif %}

{% include 'crews/partials/crew_scripts.html' %}
{% endblock %}
